{% extends "web/base.html" %}

{% block content%}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<form role="form">
		<fieldset class="form-group">
			<div class="container">
				<legend>Mis productos favoritos</legend>
				<div class="container-fluid">
					<div class="row" role="group" aria-label="...">
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 1</button>
						</div>
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 2</button>
						</div>
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 3</button>
						</div>
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 4</button>
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row" role="group" aria-label="...">
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 5</button>
						</div>
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 6</button>
						</div>
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 7</button>
						</div>
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 8</button>
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row" role="group" aria-label="...">
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 9</button>
						</div>
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 10</button>
						</div>
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 11</button>
						</div>
						<div class="col-md-3" role="group">
							<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Producto x">Producto 12</button>
						</div>
					</div>
				</div>
			</div>	
		</fieldset>
	</form>
</div>
{% endblock %}