{% extends "web/base.html" %}

{% block content%}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="container">
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary">Todos</button>
				<button type="button" class="btn btn-secondary">Aceite</button>
				<button type="button" class="btn btn-secondary">Arroz</button>
				<button type="button" class="btn btn-secondary">Azucar</button>
				<button type="button" class="btn btn-secondary">Café</button>
				<button type="button" class="btn btn-secondary">Cereales</button>
				<button type="button" class="btn btn-secondary">Fideos</button>
				<button type="button" class="btn btn-secondary">Harina</button>
				<button type="button" class="btn btn-secondary">Leche</button>
				<button type="button" class="btn btn-secondary">Papel Higiénico</button>
				<button type="button" class="btn btn-secondary">Té</button>
			</div>
		</div>

		<form role="form">
			<fieldset class="form-group">
					<div class="container">
						<legend>Aportar</legend>
						<div class="btn-group-vertical">
						<button type="submit" value="agregar"class="btn btn-primary">Agregar producto</button>
						<button type="submit" value="modificar" class="btn btn-primary">Modificar producto</button>
						</div>
					</div>
			</fieldset>

			<fieldset class="form-group">
					<div class="container">
						<legend>Mis productos</legend>
						<div class="btn-group" role="group" aria-label="First group">
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Producto 1"><span class="glyphicon glyphicon-star"></span></button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Producto 2"><span class="glyphicon glyphicon-star"></span></button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Producto 3"><span class="glyphicon glyphicon-star"></span></button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Producto 4"><span class="glyphicon glyphicon-star"></span></button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Producto 5"><span class="glyphicon glyphicon-star"></span></button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Producto 6"><span class="glyphicon glyphicon-star"></span></button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Producto 7"><span class="glyphicon glyphicon-star"></span></button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Producto 8"><span class="glyphicon glyphicon-star"></span></button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Producto 9"><span class="glyphicon glyphicon-star"></span></button>
							<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Producto 10"><span class="glyphicon glyphicon-star"></span></button>
					  </div>
					</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}