
{% extends "web/base.html" %}
{% load staticfiles %}



{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   
<h3 class="sub-header">Mis datos: {{ id_usuario }}</h3>
<form>
  <fieldset class="form-group">
    <label for="inputemail1">Cambiar email:</label>
    <input type="email" class="form-control" id="inputemail1" placeholder="Enter email" value="{{ email_usuario }}">
  </fieldset>
  <fieldset class="form-group">
    <label for="NombreInput">Cambiar nombre:</label>
    <input type="text" class="form-control" id="NombreInput" placeholder="" value="{{ nombre_usuario }}">
  </fieldset>
  <fieldset class="form-group">
    <label for="ApellidoInput">Cambiar apellido:</label>
    <input type="text" class="form-control" id="ApellidoInput" placeholder="" value="{{ apellido_usuario }}">
  </fieldset>
 <fieldset class="form-group">
    <label for="ComunaSelect">Comuna:</label>
    <select class="form-control" id="ComunaSelect">
	{% for comuna in lista_comunas %}
      <option>{{ comuna }}</option>
      {% endfor %}
    </select>
    <small class="text-muted">Actual: {{ comuna_usuario }}</small>
  </fieldset>
  <!-- Dejare desactivada esta seccion hasta aclarar bien como funciona
   <fieldset class="form-group">
    <label for="InputPassword1">Contraseña actual:</label>
    <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
  </fieldset>
  <fieldset class="form-group">
    <label for="InputPassword2">Nueva contraseña:</label>
    <input type="password" class="form-control" id="InputPassword2" placeholder="Password">
  </fieldset>
  <fieldset class="form-group">
    <label for="InputPassword3">Confirmar nueva contraseña:</label>
    <input type="password" class="form-control" id="InputPassword3" placeholder="Password">
  </fieldset>
  -->
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>

{% endblock %}